.principal {
    margin-left: 30%;
    margin-top: 4%;
    width: 42%;
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 1%;
    border-radius: 1%;
}

.OrderLi {
    margin: 1%;
    float: left;
    position: relative;
    list-style: none;
}

.OrderLiH {
    margin: 1%;
    position: relative;
    list-style: none;
    margin-left: 45%;
}

#OrderLiH1,
#OrderLiH3,
#OrderLiH5,
#OrderLiH7,
#OrderLiH9 {
    background-color: rgb(192, 192, 192);
    width: 200px;
    text-align: center;
    margin: 0%;
    padding: 0.5%;
    margin-left: 41%;
}

#OrderLiH2,
#OrderLiH4,
#OrderLiH6,
#OrderLiH8,
#OrderLiH10 {
    background-color: rgb(82, 82, 82);
    width: 200px;
    text-align: center;
    color: aliceblue;
    margin: 0%;
    padding: 0.5%;
    margin-left: 41%;
}

.hrf {
    margin-left: 12.5%;
}

.boton {
    width: 150px;
    height: 30px;
    background-color: rgb(7, 107, 194);
    border: 1px solid rgb(7, 107, 194);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.boton:hover {
    background-color: rgb(7, 97, 175);
    cursor: pointer;
}

.boton2 {
    width: 220px;
    height: 30px;
    background-color: rgb(194, 7, 7);
    border: 1px solid rgb(194, 7, 7);
    border-radius: 5%;
    color: white;
    font-weight: bold;
    margin-left: 30%;
}

.boton2:hover {
    background-color: rgb(214, 10, 10);
    cursor: pointer;
}

#miH1,
.resultado {
    text-align: center;
}

.resultado {
    margin-top: 7%;
}